.a {
  color:#1b1c1d
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.linkable-box {
  color: #1b1c1d;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

/* used to add space after 'Unanswered polls' */
.one-space-after {
  margin-right: 1em;
}

.border-box {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
}

.userscore-name {
  padding-top: 40px;
}

.userscore-answered {
  padding-top: 25px;
  padding-left: 20px;
}

.userscore-created {
  padding-top: 10px;
  padding-left: 20px;
}

.userscore-score {
  padding-top: 20px;
}

.user-asks {
  padding-left: 20px;
  padding-bottom: 0px;
}

.user-choice {
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-image-poll {
  padding: 0px;
}

.hello-user, .hello-user:hover {
  color: black;
}

.q-detail-avatar {
  margin-left: 20px;
}

.q-detail-title {
  padding-bottom: 0px;
}